- if can? :create, Site
  = link_to "Add a site", new_site_path, :class => 'btn btn-primary btn-lg'
- else
  = link_to "Add a site", new_user_session_path, :class => 'btn btn-primary btn-lg'
  %br/
  %small
    = render :partial => 'shared/signin_signup', :locals => { :to => 'add a site' }
