- content_for :banner do
  %div.hero
    .container
      .row
        .col-md-6
          %h1 This is the banner area
        .col-md-6
          %p newsletter subscribe form (mailchimp) goes here

%h1 Find a project

.row
  .col-md-8
    %div#map{:style => 'height: 500px'}
  .col-md-4
    = render :partial => 'facebook'
