- content_for :banner do
  .jumbotron
    != cms_snippet_content(:homepage_banner)

#homepage
  = render :partial => 'map'

  %section
    .row
      .col-md-12
        != cms_snippet_content(:homepage_findoutmore)

  = render :partial => 'partners'
