- content_for :banner do
  %div.info
    This is the info that appears in the banner area.
  %h1 This is the banner area



%h1 Find a project

.row
  .col-md-8
    %div#map{:style => 'height: 500px'}
  .col-md-4
    = render :partial => 'facebook'
