// Map

cloudmade_key = "<%= Acres::Application.config.cloudmade_key %>";
cloudmade_url = "http://{s}.tile.cloudmade.com/" + cloudmade_key + "/1714/256/{z}/{x}/{y}.png";

map = L.map('map').setView([-37.85, 145.06], 10);

L.tileLayer(cloudmade_url, {
  attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors under <a href="http://www.openstreetmap.org/copyright">ODbL</a> | Map imagery &copy; <a href="http://cloudmade.com">Cloudmade</a>',
  maxZoom: 18
}).addTo(map);
