// Map
var mapbox_key = "<%= Acres::Application.config.mapbox_map_id %>"
var base_url = "https://c.tiles.mapbox.com/v3/" + mapbox_key + "/{z}/{x}/{y}.png";

var map = L.map('map', { scrollWheelZoom: false });
showMap(map);

function showMap(map) {
  L.tileLayer(base_url, {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors under <a href="http://www.openstreetmap.org/copyright">ODbL</a> | Map imagery &copy; <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18
  }).addTo(map);
  if (location.pathname === "/sites") { // homepage
    map.setView([-37.85, 145.06], 10); // Melbourne
    $.getJSON('sites.json', function(sites) {
      $.each(sites, function(i, site) {
        if (site.latitude && site.longitude) {
          addMarker(site, map);
        }
      });
    })
  } else { // specific site
    $.getJSON(location.pathname + '.json', function(site) {
      if (site.latitude && site.longitude) {
        map.setView([site.latitude, site.longitude], 14); // more zoomed in
        addMarker(site, map);
      }
    });
  }
}

function addMarker(site, map) {
  var pin;
  switch(site.status) {
    case 'unknown':
      pin = '/assets/pin-grey.png';
      break;
    case 'unsuitable':
      pin = '/assets/pin-black.png';
      break;
    case 'potential':
      pin = '/assets/pin-orange.png';
      break;
    case 'proposed':
      pin = '/assets/pin-yellow.png';
      break;
    case 'active':
      pin = '/assets/pin-green.png';
      break;
    default:
      pin = '/assets/pin-grey.png';
      break;
  }
  var icon = L.icon({
    iconUrl: pin,
    iconSize: [31, 42],
    iconAnchor: [15, 42],
    popupAnchor: [0, -20]
  })
  var marker = new L.Marker(new L.LatLng(site.latitude, site.longitude), {
    icon: L.icon({
      iconUrl: pin,
      iconSize: [31, 42],
      iconAnchor: [15, 42],
      popupAnchor: [0, -20]
    })
  });
  var link = "<p><a class='site-title' href='/sites/" + site.slug + "'>" + site.display_name + "</a></p>"
          + "<p>" + site.address + ", " + site.suburb + "</p>";
  if (site.description) {
    link += "<p class='site-description'>" + site.description.substr(0,110) + "...</p>";
  }
  if (site.size) {
    link += "<p>Size: " + site.size + "m<sup>2</sup></p>";
  }
  if (site.available_until) {
    link += "<p>Available until: " + site.available_until + "</p>";
  }
  if (site.watches.length > 0) {
    var p = (site.watches.length == 1) ? "person" : "people";
    link += "<p>" + site.watches.length + " " + p + " watching.</p>";
  }
  
  marker.bindPopup(link).openPopup();
  map.addLayer(marker);
}

