// Map

site_to_map = location.pathname + '.json';
cloudmade_key = "<%= Acres::Application.config.cloudmade_key %>";
cloudmade_url = "http://{s}.tile.cloudmade.com/" + cloudmade_key + "/1714/256/{z}/{x}/{y}.png";

map = L.map('site-map');
showMap(map);

function showMap(map) {
  L.tileLayer(cloudmade_url, {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors under <a href="http://www.openstreetmap.org/copyright">ODbL</a> | Map imagery &copy; <a href="http://cloudmade.com">Cloudmade</a>',
    maxZoom: 18
  }).addTo(map);
  $.getJSON(site_to_map, function(site) {
    if (site.latitude && site.longitude) {
      map.setView([site.latitude, site.longitude], 14)
      marker = new L.Marker(new L.LatLng(site.latitude, site.longitude));
      link = "<p><a href='/sites/" + site.slug + "'>" + site.display_name + "</a></p>";
      marker.bindPopup(link).openPopup();
      map.addLayer(marker);
    }
  });

  map.addLayer(markers);
}
