// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.leaflet-popup-content {
	p {
		margin: 0;
	}
	.site-title {
		font-weight: bold;
		font-size: 14px;
		text-decoration: underline;
	}
	.site-description {
		margin: 10px 0;
	}
	.site-watch {
		position: absolute;
		bottom: 30px;
		right: 10px;
	}
}
