<h4>Open Source</h4>
<ul>
  <li>
    Licensed under
    <a href="https://raw.github.com/3000acres/3000acres/dev/LICENSE.txt">AGPLv3</a>
  </li>
  <li><a href="https://github.com/3000acres/3000acres">Source code</a></li>
  <li><a href="https://groups.google.com/forum/#!forum/3000acres-discuss">Project mailng list</a></li>
</ul>
