<h4>Major partners</h4>
<ul class='partners'>
  <li>
    <a href="http://www.vichealth.vic.gov.au/" target="_blank"><img alt="VicHealth" height="30" src="/assets/logo_vichealth_30.png" width="156" />
    </a>
  </li>
  <li>
    <a href="http://www.tacsi.org.au/" target="_blank"><img alt="TACSI" height="30" src="/assets/logo_tacsi_30.png" width="147" />
    </a>
  </li>
</ul>
