<section>
  <h1 class='heading_main'>Partners</h1>
    <div class='col-md-4 text-center'>
      <a href='http://www.vichealth.vic.gov.au/' target='_blank'>
        <img alt="VicHealth" height="50" src="/assets/logo_vichealth_bw_50.png" width="273" />
      </a>
    </div>
  </div>
</section>
