<h1 class='heading_main'>Get Involved</h1>
<p class='text-center'>
  Each pin on this map represents a site for a community garden.
  Watch and get involved in community garden projects near you!
</p>
