%p Connect with us
%ul
  %li Subscribe to Newsletter
  %li= link_to "Twitter", "http://twitter.com/3000acres"
  %li= link_to "Facebook", "http://facebook.com/3000acres"

%p Partners
%ul
  %li VicHealth
  %li TACSI
