.container
  .row
    .col-md-3
      %h4 Connect with us
      %ul
        %li Email
        %li= link_to "Twitter", "http://twitter.com/3000acres"
        %li= link_to "Facebook", "http://facebook.com/3000acres"
        %li Subscribe to Newsletter
    .col-md-3
      %h4 Open source
      %ul
        %li Why open source?
        %li= link_to "Source code", "http://github.com/3000acres"
        %li Get involved
    .col-md-6
      %h4 Thanks to...
      %ul
        %li VicHealth
        %li TACSI
